@page
@model Jibini.DomainSite.Pages.ErrorModel
@namespace Jibini.DomainSite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@section HeadContent {
    <title>Error</title>
}

@section ScriptContent {

}

<h1>Error.</h1>
<h2>An error occurred while processing your request</h2>