@page "/TestBlazor"

<h3>TestBlazor</h3>

<h1>@count</h1>

<button class="btn btn-primary"
    @onclick="() => count++">
    Increment
</button>

<button class="btn btn-primary" 
    @onclick="() => throw new Exception()">
    Crash
</button>

@code {
    int count = 0;
}
