@namespace Jibini.DomainSite.Pages

<div class="bg-light text-dark p-3 mt-5">

    <h5><i>August 2021 - Now</i></h5>
    <h4><a target="_blank" href="https://netkinetix.com">Netkinetix</a> <span style="font-size: 0.9rem;">Software Developer</span></h4>
    <p>&mdash;</p>
    <p>Lorem ipsum</p>

</div>

<div class="border-top border-light my-3"></div>

<div class="bg-white bg-opacity-75 text-dark p-3">

    <h5><i>June 2020 - August 2021</i></h5>
    <h4><a target="_blank" href="https://multistack.com">Multistack, LLC.</a> <span style="font-size: 0.9rem;">Internal Tools Developer</span></h4>
    <p>&mdash;</p>
    <p>dolor sit amet</p>

</div>

<div class="bg-white bg-opacity-75 text-dark p-3 mt-3">

    <h5><i>Summer 2019 - Summer 2020</i></h5>
    <h4><a target="_blank" href="https://www.festfoods.com">Festival Foods</a> <span style="font-size: 0.9rem;">Kitchen Prep</span></h4>
    <p>&mdash;</p>
    <p>dolor sit amet</p>

</div>