@namespace Jibini.DomainSite.Pages

<div class="banner green-banner d-flex flex-row">
    <div class="mx-md-auto">

        <div class="banner-brace">{</div>

        <div class="ps-5" id="shout">
            <h4 class="mb-2">// I like writing code.</h4>
            <p class="mb-3">
                If I'm not writing code, odds are I'm talking about code. Every
                project is an opportunity to push my limits and learn something new <i>(about code)</i>.
            </p>
            <a href="~/projects" class="btn btn-outline-light">Project Portfolio</a>
        </div>

        <div class="banner-brace">}</div>

    </div>
</div>