@namespace Jibini.DomainSite.Pages

<div class="banner green-banner d-flex flex-row">
    <div class="mx-md-auto">

        <div class="banner-brace">{</div>

        <div class="ps-5" id="shout">
            <h4 class="mb-2">// I like good code.</h4>
            <p class="mb-3">
                My world revolves around finding solutions to everyday problems.
                Software is meant to simplify tasks; my goal is to find simple
                solutions.
            </p>
            <a href="~/projects" class="btn btn-outline-light">Project Portfolio</a>
        </div>

        <div class="banner-brace">}</div>

    </div>
</div>