@namespace Jibini.DomainSite.Pages

<div class="text-white-50">

    <h4 id="fixed-clone" class="bg-dark pb-4 pt-5">Technologies</h4>
    <h4 id="scroll-clone" class="pt-5">Technologies</h4>

    <div class="techs-container">

        @foreach(var tech in TechnologyItem.All)
        {
            @await Html.PartialAsync("_TechnologyItem", tech)
        }

    </div>

</div>