@page "/"
@namespace Jibini.DomainSite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@section HeadContent {
    <title>Home</title>

    <style>
        .banner-brace {
            color: rgba(255, 255, 255, 0.6);
            font-family: monospace;
            font-size: 2rem;
            font-weight: bold;
        }

        #shout {
            max-width: 30rem;
        }

            #shout h4 {
                font-family: monospace;
                font-weight: bold;
            }

            #shout p {
                font-size: 1.2rem;
                color: rgba(255, 255, 255, 0.75);
            }
    </style>
}

@section ScriptContent {
    <script>
        var IndexPage = {
            init: () => {

            }
        };
        $(IndexPage.init);
    </script>
}

<div class="banner green-banner d-flex flex-row">
    <div class="mx-md-auto">

        <div class="banner-brace">{</div>

        <div class="ps-5" id="shout">
            <h4 class="mb-2">// I like good code.</h4>
            <p class="mb-3">
                My world revolves around finding solutions to everyday problems.
                Software is meant to simplify tasks; my goal is to find simple
                solutions.
            </p>
            <a href="~/projects" class="btn btn-outline-light">Project Portfolio</a>
        </div>

        <div class="banner-brace">}</div>

    </div>
</div>
