@page "/"
@namespace Jibini.DomainSite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@section HeadContent {
    <title>Home</title>

    <style>
        .banner-brace {
            color: rgba(255, 255, 255, 0.6);
            font-family: monospace;
            font-size: 2rem;
            font-weight: bold;
        }

        #shout {
            max-width: 30rem;
        }

            #shout h4 {
                font-family: monospace;
                font-weight: bold;
            }

            #shout p {
                font-size: 1.2rem;
                color: rgba(255, 255, 255, 0.75);
            }

        .techs-item {
            border-top: 1px dashed white;
        }

            .techs-item:nth-child(even) {
                flex-direction: row-reverse !important;
                text-align: right;
            }

        #fixed-clone {
            display: none;
            position: fixed;
            top: 0;
            z-index: 100;

            border-bottom: 1px dashed white;
        }

        h4 .smaller {
            font-size: 0.9rem;
        }
    </style>
}

@section ScriptContent {
    <script>
        var IndexPage = {
            init: () => {
                $(window).scroll(IndexPage.actions.updateClone);
                $(window).resize(IndexPage.actions.updateClone);
            },
            elements: {
                scrollClone: () => $("#scroll-clone"),
                fixedClone: () => $("#fixed-clone")
            },
            actions: {
                updateClone: () => {
                    var rect = IndexPage.elements
                        .scrollClone()[0]
                        .getBoundingClientRect();

                    IndexPage.elements
                        .fixedClone()
                        .css(
                        {
                            "display": rect.top < 0 ? "block" : "none",
                            "width": rect.width + "px"
                        });
                }
            }
        };
        $(IndexPage.init);
    </script>
}

@await Html.PartialAsync("_ShoutBanner")

<div class="row">
    <div class="col col-12 col-md-7">

        @await Html.PartialAsync("_EmploymentList")

    </div>
    <div class="col col-12 col-md-5">

        @await Html.PartialAsync("_TechnologiesList")

    </div>
</div>