@page "/projects"
@namespace Jibini.DomainSite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@section HeadContent {
    <title>Project Portfolio</title>

    <style>

    </style>
}

@section ScriptContent {
    <script>
        var ProjectsPage = {
            init: () => {

            }
        };
        $(ProjectsPage.init);
    </script>
}

<div class="banner orange-banner d-flex flex-column" style="text-align: center;">

    <h4 class="mx-auto">Project Portfolio</h4>
    <h5 class="mb-0 mx-auto" style="max-width: 30rem;font-weight: normal;">
        A variety of open source software projects I've been working on.
    </h5>

</div>
